openapi: 3.0.0
info:
  version: 1.0.0
  title: Pientere Tuinen
  description: A sample API to illustrate OpenAPI concepts
  
servers:
  - url: https://services.platform.wecity.nl/
  
paths:
  /mijn-pientere-tuin/measurements:
    get:
      description: Returns a list of stuff
      parameters:
        - name: page
          in: query
          description: Limits the number of items on a page
          schema:
            type: integer
        - name: wecity-api-key
          in: header
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageMeasurementProjection'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_msg:
                    type: string

# Basic authentication
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: wecity-api-key
      in: header
  schemas:
    PageMeasurementProjection:
        type: object
        properties:
            totalPages:
                type: integer
            totalElements:
                type: integer
            size:
                type: integer
            number:
                type: integer
            first:
                type: boolean
            last:
                type: boolean
            numberOfElements:
                type: integer
            empty:
                type: boolean
            content:
                type: array
                items:
                    $ref: '#/components/schemas/MeasurementProjection'
    MeasurementProjection:
        type: object
        properties:
            id:
                type: string
                format: uuid
            measuredAt:
                type: string
                format: date-time
            longitude:
                type: number
                format: float
            latitude:
                type: number
                format: float
            temperatureCelsius:
                type: number
            moisturePercentage:
                type: number
                format: float
            gardenOrientation:
                type: string
            gardenHardeningPercentage:
                type: number
                format: float
            soilType:
                type: string
            gardenSize:
                type: string
        
